<p>
  <strong>Title:</strong>
  <%= @postit.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @postit.text %>
</p>

<%= link_to 'Edit', edit_postit_path(@postit) %> |
<%= link_to 'Back', postits_path %>
